<div class="post-item">
    <a href="{% url 'like' post.pk %}" 
       class="btn btn-sm rounded-pill {% if post.pk in user_liked_posts %}btn-primary{% else %}btn-outline-secondary{% endif %}">
        Like
    </a>
    <span>
        <a href="#" onclick="toggleLikes('{{ post.pk }}'); return false;">
            {{ post.post_likes.count }} likes
        </a>
    </span>
</div>

<div id="likes-{{ post.pk }}" class="ml-5" style="display: none">
{% for like in post.post_likes.all %}
    <div class="user-like">
        <a href="{% url 'profile-view' like.user.username %}">{{ like.user.username }}</a>
    </div>
{% endfor %}
</div>
