{% extends "blog/base.html" %}
{% block content %}
    <section class="profile-info">
        <h1>{{ profile.user.username }}'s Profile</h1>
        <img src="{{ profile.image.url }}" alt="{{ profile.user.username }}'s profile picture" width="150">
        <div class="user-links">
            <a class="text-info" href="{% url 'user-posts' profile.user.username %}">
                <h5>Posts</h5>
                <i class="fa-solid fa-signs-post"></i>
            </a>
    
            <a class="text-info" href="{% url 'conversation-detail' profile.user.username %}">
                <h5>Send message</h5>
                <i class="fa-solid fa-envelope"></i>
            </a>
            <div class="friends-section">
                <a class="text-info" href="{% url 'send-friend-request' profile.user.id %}">
                    <h5>Sent friend request</h5>
                    <i class="fa-solid fa-user-plus"></i>
                </a>
    
                <a class="text-info" href="{% url 'friend-list-user' profile.user.id %}">
                    <h5>Friends</h5>
                    <i class="fa-solid fa-user-group"></i>
                </a>
    
            </div>
        </div>
        <p><strong>First Name:</strong> {{ profile.first_name }}</p>
        <p><strong>Last Name:</strong> {{ profile.last_name }}</p>
        <p><strong>Phone:</strong> {{ profile.phone }}</p>
        <p><strong>Country:</strong> {{ profile.country }}</p>
        <p><strong>City:</strong> {{ profile.city }}</p>
        <p><strong>Address:</strong> {{ profile.address }}</p>
        <p><strong>Company:</strong> {{ profile.company }}</p>
        <p><strong>School:</strong> {{ profile.school }}</p>
    </section>
{% endblock %}
