{% extends "blog/base.html" %}
{% block content %}
    <section class="profile-info">
        <h1>{{ profile.user.username }}'s Profile</h1>
        <img src="{{ profile.image.url }}" alt="{{ profile.user.username }}'s profile picture" width="150">
        <div class="user-links">
            <a class="text-info" href="{% url 'user-posts' profile.user.username %}">
                <h5>Posts</h5>
                <i class="fa-solid fa-signs-post"></i>
            </a>

            <a class="text-info" href="{% url 'conversation-detail' profile.user.username %}">
                <h5>Send message</h5>
                <i class="fa-solid fa-envelope"></i>
            </a>
            <div class="friends-section">
                <a class="text-info" href="{% url 'friend-list-user' profile.user.id %}">
                    <h5>Friends</h5>
                    <i class="fa-solid fa-user-group"></i>
                </a>

                {% if not my_profile_page %}
                    <form method="post" action="{% url 'send-friend-request' profile.user.id %}">
                        {% csrf_token %}
                        {% if is_send_request %}
                            <button type="submit" class="text-info sent-request-btn disabled" disabled>
                                Request is sent
                                <i class="fa-solid fa-user-plus"></i>
                            </button>
                        {% elif not is_friend %}
                            <button type="submit" class="text-info sent-request-btn">
                                Send friend request
                                <i class="fa-solid fa-user-plus"></i>
                            </button>
                        {% endif %}
                    </form>
                    <form method="post" action="{% url 'block-user' profile.user.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger btn-sm mb-1">
                            Block user
                        </button>
                    </form>
                {% endif %}

            </div>
        </div>

        <p><strong>First Name:</strong> {{ profile.first_name }}</p>
        <p><strong>Last Name:</strong> {{ profile.last_name }}</p>
        <p><strong>Phone:</strong> {{ profile.phone }}</p>
        <p><strong>Country:</strong> {{ profile.country }}</p>
        <p><strong>City:</strong> {{ profile.city }}</p>
        <p><strong>Address:</strong> {{ profile.address }}</p>
        <p><strong>Company:</strong> {{ profile.company }}</p>
        <p><strong>School:</strong> {{ profile.school }}</p>
    </section>
{% endblock %}
