{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <div class="media">
            <img class="rounded-circle account-img" src="{{ user.user_profile.image.url }}">
            <div class="media-body">
                <h2 class="account-heading">{{ user.username }}</h2>
                <p class="text-secondary">{{ user.email }}</p>
            </div>
        </div>
    </div>
    <div class="user-links">
        <a class="text-info" href="{% url 'user-posts' user.user_profile.user.username %}">
            <h5>My Posts</h5>
        </a>
    </div>
    <div class="friends-section">
        <h5>
            <a class="text-info" href="{% url 'friend-list-user' user.id %}">My friends</a>
        </h5>
        <h5>
            <a class="text-info" href="{% url 'friend-requests' %}">Friend Requests</a>
            {% if requests_count > 0 %}
                <span class="badge badge-danger">{{ requests_count }}</span>
            {% endif %}
        </h5>
    </div>
    <div class="blocked-users_section">
        <h5>
            <a class="text-info" href="{% url 'blocked-users-list' %}">Blocked Users</a>
        </h5>
    </div>
    <!-- FORM HERE -->
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Profile Info</legend>
            {{ u_form|crispy }}
            {{ p_form|crispy }}
            {% if request.user.user_profile.image.url != 'default.jpg' %}
                <a href="{% url 'confirm_remove_image' %}" class="btn btn-danger btn-sm">Remove Image</a>
            {% endif %}

        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Update</button>
            <a class="btn btn-danger" href="{% url 'profile-delete' pk=request.user.user_profile.pk %}">Delete</a>
        </div>

    </form>
{% endblock %}
