{% extends 'blog/base.html' %}
{% block content %}
	<div class="container">
        <h1>About page</h1>
        <p>
            A blogging platform that allows users to create, read, update, and delete posts.
            Users can interact with posts through likes and comments, and personalize their 
            experience with profile pictures. The application also includes features such as
            password reset via email, sending messages, adding friends, block users.
        </p>
    </div>
{% endblock %}
