<article class="media content-section">
    <a href="{% url 'user-posts' post.author.username %}">
        <img class="rounded-circle article-img" src="{{ post.author.user_profile.image.url }}">
    </a>
    <div class="media-body" id="{{ post.pk }}">
        <div class="article-metadata">
            <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
            <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
        </div>
        <h2><a class="article-title" href="{% url 'post-detail' post.pk %}">{{ post.title }}</a></h2>
        <p class="article-content">{{ post.content }}</p>
        {% include 'blog/post-image.html' %}
        {% include 'common/post-likes.html' with post=post %}
        {% include 'common/comments-page.html' with post=post %}
    </div>
</article>
