{% extends 'blog/base.html' %} 
{% block content %}
    <h1>Friend Requests</h1>
    
    {% if requests_received %}
        <ul>
            {% for friend_request in requests_received %}
                <li>
                    {{ friend_request.from_user.username }}
                    
                    <form method="post" action="{% url 'accept-friend-request' friend_request.id %}" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary btn-sm">Accept</button>
                    </form>
                    
                    <form method="post" action="{% url 'reject-friend-request' friend_request.id %}" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger btn-sm">Reject</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No friend requests at the moment.</p>
    {% endif %}

{% endblock %}
