{% extends 'blog/base.html' %}
{% block content %}
    <div class="blocked-users">
        <h1>Blocked users</h1>

        {% if my_blocked_users_list %}
            <ul>
                {% for user in my_blocked_users_list %}
                    <li class="list-group-item mb-2">
                        <img class="rounded-circle article-img profile-img"
                             src="{{ user.user_profile.image.url }}"
                             alt="{{ user.username }}'s profile picture">
                        {{ user.username }}
                        
                        <form method="post" action="{% url 'unblock-user' user.id %}" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-info btn-sm mb-1 ml-2">
                                UNBLOCK
                            </button>
                        </form>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock %}
