.comment {
    padding: 1.6rem;
    background-color: #eee;
    margin-top: 10px;
    border-radius: 0.2rem;
    max-width: 700px;
    display: flex;
    flex-direction: column;
}

.comment p {
    max-width: 600px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.comment .user-link {
    text-decoration: none;
}

.comments-btn-container {
    padding-bottom: 6px;
}

.comment-img {
    height: 30px;
    width: 30px;
    margin-right: 2px;
}

.comment-form textarea {
        max-width: 700px;
        max-height: 250px;
    }

@media (max-width: 1200px) {
    .comment {
        max-width: 520px;
    }

    .comment-form textarea {
        max-width: 520px;
    }
}

@media (max-width: 1000px) {
    .comment {
        max-width: 390px;
    }

    .comment-form textarea {
        max-width: 390px;
    }
}

@media (max-width: 800px) {
    .comment {
        max-width: 300px;
    }

    .comment-form textarea {
        max-width: 300px;
    }
}

@media (min-width: 600px) and (max-width: 750px) {
    .comment {
        max-width: 450px;
    }

    .comment-form textarea {
        max-width: 450px;
    }
}


@media (max-width: 450px) {
    .comment {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .comment p {
        max-width: 240px;
    }
}
