.profile-info {
    padding: 0.4rem 0.4rem 0.4rem 1rem;
}

.account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
}

.account-heading {
    font-size: 2.5rem;
}

.user-links a {
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

a h5 {
    color: #17a2b8;
}

a h5:hover {
    text-decoration: underline;
}

